@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: space-between;
    }    
}

.navbar {
    margin-bottom:20px;
}

.card {
    margin-bottom:20px;
}

.form-group:has(input[required]) label::after,
.form-group:has(textarea[required]) label::after {
    content: "*";
    color: red;
}
